{% extends './base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form action="{% url 'post_create' %}" method="POST">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group">
                    {% if field.errors %}
                        <div class="alert alert-danger">
                            {{ field.errors }}
                        </div>
                    {% endif %}

                    {{field.label }}
                    {{ field }}
                </div>
            {% endfor %}
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Сохранить</button>
            </div>
        </form>
    </div>
{% endblock content %}